<footer class='Botton'>
    <div class='container'>
        <div class='text'>
            <h2>Auto Keys Shop</h2>
            <p class='Dew'>Auto Keys Shop © 2024. Все права защищены.</p>
            <a class="a" href='/confid'>Политика конфиденциальности</a>
            <a class='a_2'  href='/agreement'>Согласие на обраотку персональных данных</a>
            <div class="img">
            <a href='!#'><img src='/img/Vector.png'></img></a>
            <a href='!#'><img class='what'  src='/img/SVGRepo_iconCarrier.png'></img></a>
            </div>
            <div class='company'>
            <p class='Dev'>Made with ❤️ by <a href='!#'>Solovey Dev</a></p>
            </div>
        </div>
    </div>
</footer>

<style>
    body {
    margin: 0;
    padding: 0;
    min-height: 7900px;
}

.text{
    position: absolute;
    top: 1250px;
}

.text h2{
    position: absolute;
    width: 374px;
    height: 46px;
    top: 7680px;
    left: 815px;
    gap: 0px;
    opacity: 0px;
    font-size: 34px;
    font-family: Inter, sans-serif;
}

.text p{
    width: 791px;
    height: 44px;
    position: absolute;
    top: 7743px;
    left: 690px;
    font-family: Inter, sans-serif;
    font-size: 24px;
}

.company .Dev{
    position: absolute;
    top: 7935px;
    left: 845px;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.company .Dev a{
    position: absolute;
    top: 0px;
    left: 117px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    width: 200px;
}

.text a{
    width: 751px;
    height: 22px;
    position: absolute;
    top: 7820px;
    left: 600px;
    color: black;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.text .a_2{
    position: absolute;
    top: 439.1rem;
    left: 60rem;
    width: 600px;
}

.text img{
    position: absolute;
    top: 20rem;
    left: 280px;
}

.text .what {
   position: absolute;

}

@media (max-width: 1470px) {

    * {
        box-sizing: border-box;
        }

        div {
        width: 50%; 
    }
    
    body{
        width: 1470px;
        height: 2000px;
    }

    .text{
    position: absolute;
    top: 1000px;
    left: -180px;
}

.text h2{
    position: absolute;
    width: 374px;
    height: 46px;
    top: 53rem;
    left: 780px;
    gap: 0px;
    opacity: 0px;
    font-size: 34px;
    font-family: Inter, sans-serif;
}

}

.text p{
    width: 791px;
    height: 44px;
    position: absolute;
    top: 57rem;
    left: 650px;
    font-family: Inter, sans-serif;
    font-size: 24px;
}

.company .Dev{
    position: absolute;
    top: 67rem;
    left: 810px;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.company .Dev a{
    position: absolute;
    top: 0px;
    left: 117px;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

.text .a{
    width: 751px;
    height: 22px;
    position: absolute;
    top: 60rem;
    left: 580px;
    color: black;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.text .a_2{
    position: absolute;
    top: 60rem;
    left: 58rem;
}

.img a{
    position: absolute;
    top: 43.5rem;
    left: 35rem;
}

.img .what{
    position: absolute;
    top: 19.7rem;
    left: 23rem;
}

</style>