<section>
    <div class="container">
        <p class="text">
            <span><b>Согласие на обработку персональных данных</b></span>
            <br>
            <br>
            <b>1. Цели обработки данных</b>
            <br>
            <br>
            Мои персональные данные могут быть обработаны для следующих целей:<br><br>
            
            - Обработка и выполнение моих заказов.<br>
            - Улучшение качества услуг и пользовательского опыта.<br>
            - Связь со мной для предоставления информации о статусе заказа и новых предложениях.<br>
            - Проведение маркетинговых исследований и анализ пользовательского опыта.<br>  <br> 
              
            <b>2. Перечень персональных данных<br><br></b>
            
            Я согласен на обработку следующих персональных данных:<br><br>
            
            - ФИО<br>
            - Контактный телефон<br>
            - Адрес электронной почты<br>
            - Адрес проживания (если необходимо для выполнения заказа)<br><br>
            
            <b>3. Срок действия согласия<br><br></b>
            
            Мое согласие на обработку персональных данных действительно до момента его отзыва. Я могу в любой момент отозвать своё согласие, уведомив о своем решении Компанию по контактной информации, указанной на её сайте.<br><br>
            
            <b>4. Передача данных третьим лицам<br><br></b>
            
            Я осознаю, что Компания имеет право передавать мои персональные данные третьим лицам только для выполнения условий обслуживания (например, третьим лицам, предоставляющим услуги доставки) и в соответствии с требованиями законодательства.<br><br>
            
            <b>5. Запрос на доступ к данным<br><br></b>
            
            Я имею право на доступ к своим персональным данным, а также на их изменение или удаление в соответствии с действующим законодательством.
            
        </div>
    </div>
</section>

<style>
     @media (max-width: 1470px) {

    .container{
        width: 1270px;
}
    * {
        box-sizing: border-box;
}

    div {
        width: 50%; 
}

    .text{
        width: 1200px;
        position: absolute;
        left: 200px;
        font-size: 24px;
    }

    .text span{
        position: absolute;
        left: -80px;
        top: -10px;
        font-size: 28px;
    }

}
</style>