



<section class='services'>
    <div class='container'>
       <a id="serv"><div class='services_text_img'></a>
            <p>Профессиональные услуги по вскрытию авто, изготовлению ключей, прошивке евро2 STAGE-1 и ремонту замков</p>
            <div class='auto'>
                <a href="/services">
                    <div class='block'>
                    <img src='/img/image 2.png' class='auto_1'></img>
                    <p class='price'>5000₽</p>
                    <span>Вскрытие авто</span>
                    <p class='question'>Для чего применяют?</p>
                    <p class='text'>Если владелец потерял ключи от<br></br> автомобиля, вскрытие позволяет получить<br></br> доступ к салону и запустить двигатель.</p>                        
                </div></a>

                <a class="link" href="/services/"> 
                    <div class='block_2'>
                <img src='/img/image 2 2.png' class='auto_1'></img>
                    <p class='price'>5500₽</p>
                    <span>Изготовление ключей</span>
                    <p class='question'>Зачем нужно?</p>
                    <p class='text'>Когда владелец теряет ключи от автомобиля,<br></br> изготовление нового ключа позволяет<br></br> восстановить доступ к автомобилю.</p>                        
                </div></a>

                <a class="link" href="/services/">
                    <div class='block_3'>
                <img src='/img/image 2 3.png' class='auto_1'></img>
                    <p class='price'>5000₽</p>
                    <span>Прошивка евро2 STAGE-1</span>
                    <p class='question'>Зачем нужно?</p>
                    <p class='text'>Основная причина прошивки — повышение<br></br> мощности двигателя и крутящего момента. <br></br>Это достигается путем изменения <br></br>параметров работы двигателя</p>                        
                </div></a>

                <a class="link" href="/services/">
                    <div class='block_4'>
                <img src='/img/image 2 4.png' class='auto_1'></img>
                    <p class='price'>5000₽</p>
                    <span>Ремонт замков</span>
                    <p class='question'>Для чего?</p>
                    <p class='text'>Неисправные замки могут затруднить<br></br> открытие и закрытие дверей, что создает<br></br> неудобства для водителя и пассажиров. </p>                        
                </div></a>
            </div>
        </div>
    </div>
</section>

<style>
    body{
    margin: 0;
    padding: 0;
}


.auto{
    width: 30px;
}

.services_text_img{
    width: 873px;
    height: 162px;
    position: absolute;
    top: 3869px;
    left: 179px;
    gap: 0px;
    opacity: 0px;
    font-size: 40px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

/* РєР»СЋС‡Рё */



.block img{
    width: 675px;
    height: 505px;
    padding-left: 42px;
    padding-top: 24px;
}

.block{
    width: 759px;
    height: 916px;
    top: 4006px;
    left: 191px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #EBF2FF;
}

.block .price{
    width: 130px;
    height: 44px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;

}

a{
    text-decoration: none;
}

.block span{
    color: #377DFF;
    font-size: 32px;
    padding-left: 45px;
    position: absolute;
    top: 843px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.block .question{
    font-size: 30px;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 868px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

 .block .text{
    font-size: 30px;
    width: 656px;
    height: 141px;
    position: absolute;
    top: 925px;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}

a .block .text{
    text-decoration: none;
    color: black;
}






.block_2 img{
    width: 675px;
    height: 505px;
    padding-left: 42px;
    padding-top: 24px;
}

a .block_2 .text{
    text-decoration: none;
    color: black;
}

.block_2{
    width: 759px;
    height: 916px;
    margin-left: 784px;
    margin-top: -850px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E8EAEE;
}

.block_2 .price{
    width: 130px;
    height: 44px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_2 span{
    color: #377DFF;
    font-size: 32px;
    padding-left: 45px;
    position: absolute;
    top: 908px;
    font-weight: 500;
    width: 350px;
    font-family: Inter, sans-serif;
}

.block_2 .question{
    font-size: 30px;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 930px;
    font-weight: 400;
    width: 350px;
}

.block_2 .text{
    font-size: 30px;
    width: 680px;
    height: 141px;
    position: absolute;
    top: 985px;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}






.block_3 img{
    width: 675px;
    height: 505px;
    padding-left: 42px;
    padding-top: 24px;
}

a .block_3 .text{
    text-decoration: none;
    color: black;
}

.block_3{
    width: 759px;
    height: 916px;
    margin-top: -35px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #EBF2FF;
}

.block_3 .price{
    width: 130px;
    height: 44px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_3 span{
    color: #377DFF;
    font-size: 32px;
    padding-left: 45px;
    position: absolute;
    top: 1790px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.block_3 .question{
    font-size: 30px;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 1810px;
    font-weight: 400;
}

.block_3 .text{
    font-size: 30px;
    width: 656px;
    height: 141px;
    position: absolute;
    top: 1865px;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}





.block_4 img{
    width: 675px;
    height: 505px;
    padding-left: 42px;
    padding-top: 24px;
}

a .block_4  .text{
    text-decoration: none;
    color: black;
}

.block_4{
    width: 759px;
    height: 916px;
    margin-left: 784px;
    margin-top: -850px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E8EAEE;
}

.block_4 .price{
    width: 130px;
    height: 44px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_4 span{
    color: #377DFF;
    font-size: 32px;
    padding-left: 45px;
    position: absolute;
    top: 1855px;
    font-weight: 500;
    width: 350px;
    font-family: Inter, sans-serif;
}

.block_4 .question{
    font-size: 30px;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 1875px;
    font-weight: 400;
    width: 350px;
    font-family: Inter, sans-serif;
}

.block_4 .text{
    font-size: 30px;
    width: 680px;
    height: 141px;
    position: absolute;
    top: 1930px;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}







@media (max-width: 1470px) {

    * {
        box-sizing: border-box;
        }

        div {
        width: 50%; 
    }

    .container {
        width: 100%; /* Занимает 100% ширины экрана */
    }

    .services_text_img{
    width: 873px;
    height: 162px;
    position: absolute;
    top: 225rem;
    left: 3.4rem;
    gap: 0px;
    opacity: 0px;
    font-size: 40px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.block img{
    width: 39rem;
    height: 27rem;
    padding-left: 1.8rem;
    padding-top: 24px;
}

.block{
    width: 42.9rem;
    height: 48.5rem;
    top: 4006px;
    margin-left: -1rem;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #EBF2FF;
}

.block .price{
    width: 150px;
    height: 48px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;

}

a{
    text-decoration: none;
}

.block span{
    color: #377DFF;
    font-size: 1.8rem;
    padding-left: 45px;
    position: absolute;
    top: 44rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.block .question{
    font-size: 1.6rem;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 46.2rem;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

 .block .text{
    font-size: 1.5rem;
    width: 656px;
    height: 141px;
    position: absolute;
    top: 51.5rem;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}

a .block .text{
    text-decoration: none;
    color: black;
}






.block_2 img{
    width: 39rem;
    height: 27rem;
    padding-left: 1.9rem;
    padding-top: 24px;
}

a .block_2 .text{
    text-decoration: none;
    color: black;
}

.block_2{
    width: 42.9rem;
    height: 48.5rem;
    margin-left: 43rem;
    margin-top: -45rem;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E8EAEE;
}

.block_2 .price{
    width: 150px;
    height: 48px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_2 span{
    color: #377DFF;
    font-size: 1.8rem;
    padding-left: 45px;
    position: absolute;
    top: 47.5rem;
    font-weight: 500;
    width: 450px;
    font-family: Inter, sans-serif;
}

.block_2 .question{
    font-size: 1.6rem;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 50rem;
    font-weight: 400;
    width: 350px;
}

.block_2 .text{
    font-size: 1.5rem;
    width: 680px;
    height: 141px;
    position: absolute;
    top: 55.5rem;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}






.block_3 img{
    width: 39rem;
    height: 27rem;
    padding-left: 1.9rem;
    padding-top: 24px;
}

a .block_3 .text{
    text-decoration: none;
    color: black;
}

.block_3{
    width: 42.9rem;
    height: 48.5rem;
    margin-left: -1rem;
    margin-top: -2rem;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #EBF2FF;
}

.block_3 .price{
    width: 150px;
    height: 48px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_3 span{
    color: #377DFF;
    font-size: 1.8rem;
    padding-left: 45px;
    position: absolute;
    top:94rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

.block_3 .question{
    font-size: 1.6rem;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 96.2rem;
    font-weight: 400;
}

.block_3 .text{
    font-size: 1.5rem;
    width: 656px;
    height: 141px;
    position: absolute;
    top: 101rem;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}





.block_4 img{
    width: 39rem;
    height: 27rem;
    padding-left: 1.9rem;
    padding-top: 24px;
}

a .block_4  .text{
    text-decoration: none;
    color: black;
}

.block_4{
    width: 42.9rem;
    height: 48.5rem;
    margin-left: 43rem;
    margin-top: -45rem;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #E8EAEE;
}

.block_4 .price{
    width: 150px;
    height: 48px;
    font-size: 36px;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    margin-left: 46px;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Inter, sans-serif;
}

.block_4 span{
    color: #377DFF;
    font-size: 1.8rem;
    padding-left: 45px;
    position: absolute;
    top: 97rem;
    font-weight: 500;
    width: 350px;
    font-family: Inter, sans-serif;
}

.block_4 .question{
    font-size: 1.6rem;
    color: #678ABA;
    padding-left: 45px;
    position: absolute;
    top: 99.2rem;
    font-weight: 400;
    width: 350px;
    font-family: Inter, sans-serif;
}

.block_4 .text{
    font-size: 1.5rem;
    width: 680px;
    height: 141px;
    position: absolute;
    top: 104rem;
    padding-left: 45px;
    line-height: 15px;
    font-family: Inter, sans-serif;
}


}
</style>