<section class='connect'>
    <div class='container'>
        <div class='form_img'>
            <a id="kont"><img src='/img/Vector 5.png'></img></a>
        </div>
        <div class='text_top'>
            <p>Свяжитесь с нами</p>
            <h3>Мы делаем свою работу на высшем <br></br><span>уровне</span></h3>
        </div>
        <div class='form'>
        <p class='text'>ФИО</p>
            <input type='text' placeholder='ФИО'></input>
        <p class='tel'>Номер телефона</p>
            <input type='tel' placeholder='Номер телефона'></input>
        <p class='Comment'>Комментарий</p>
            <input type='text' placeholder='Комментарий' class='comm'></input>
            {/* кнопка */}
            <a href="!#"><button class='con'>Связаться с нами</button></a>
        </div>
    </div>
</section>


<style>
    body{
    margin: 0;
    padding: 0;
    min-height: 8900px;
}

.text_top{
    position: absolute;
    top: 6100px;

}

.text_top p{
    padding-left:760px;
    padding-top: 60px;
    color: #C3D8FF;
    font-size: 42px;
    width: 500px;
    font-family: Inter, sans-serif;
}

.text_top h3{
    padding-left: 320px;
    position: absolute;
    top: 140px;
    left: 250px;
    width: 789px;
    font-size: 42px;
    color: white;
    font-family: Inter, sans-serif;
    line-height: 30px;
}

.form_img img{
    position: absolute;
    top: 6000px;
    left: 1px;
}

.form{
    width: 716px;
    height: 773px;
    background-color: white;
    border-radius: 10px;
    margin-top: 482px;
    margin-left:  611px; 
    position: absolute;
    top: 6000px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form input{
    width: 575px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #B9B7B7;
    font-size: 24px;
    padding-left: 19px;
    margin-left: 56px;
}

.form .comm{
    padding-top: 0px;
    padding-bottom: 100px;
}

.form button{
    font-size: 28px;
    width: 460.96px;
    height: 76.67px;
    border-radius: 12px;
    margin-left: 128px;
    margin-top: 55px;
    border: none;
    background-color:#377DFF ;
    color: white;
    font-family: Inter, sans-serif;
}

.form p{
    font-size: 24px;
    margin-left: 56px;
    font-family: Inter, sans-serif;
    
}

.form .Comment{
    margin-left: 67px;
}

.text_top span{
    position: absolute;
    left:634px;
    font-family: Inter, sans-serif;
}

.container{
    position: absolute;
    top: 1400px;
}


@media (max-width: 1470px) {

    * {
        box-sizing: border-box;
        }

        div {
        width: 50%; 
    }

    .container {
        width: 1470px; /* Занимает 100% ширины экрана */
    }

    body{
        max-width: 1470px;
    }

    .text_top{
    position: absolute;
    top: 6100px;
    margin-top: 20px;

}

.text_top p{
    padding-left: 36rem;
    margin-top: -51rem;
    color: #C3D8FF;
    font-size: 2.4rem;
    width: 1000px;
    font-family: Inter, sans-serif;
}

.text_top h3{
    padding-left: 320px;
    position: absolute;
    top:-42rem;
    left: 3rem;
    width: 1289px;
    font-size: 42px;
    color: white;
    font-family: Inter, sans-serif;
    line-height: 30px;
}

.form_img img{
    width: 1470px;
    position: absolute;
    top: 5300px;
    left: 1px;
}

.form{
    width: 38.5rem;
    height: 43rem;
    background-color: white;
    border-radius: 10px;
    margin-top: -26rem;
    margin-left:  28rem; 
    position: absolute;
    top: 6000px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form input{
    margin-top: 5px;
    width: 31rem;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid #B9B7B7;
    font-size: 24px;
    padding-left: 19px;
    margin-left: 56px;
}

.form .comm{
    padding-bottom: 140px;
    padding-top: 40px;
}

.form button{
    font-size: 28px;
    width: 460.96px;
    height: 76.67px;
    border-radius: 12px;
    margin-left: 4.8rem;
    margin-top: 65px;
    border: none;
    background-color:#377DFF ;
    color: white;
    font-family: Inter, sans-serif;
}

.form p{
    font-size: 24px;
    margin-left: 56px;
    font-family: Inter, sans-serif;
    margin-top: 20px;
}

.form .Comment{
    margin-left: 67px;
}

.text_top span{
    position: absolute;
    left:634px;
    font-family: Inter, sans-serif;
}

.container{
    position: absolute;
    top: 1400px;
}

.form button{
    margin-top: 20px;
}

}
</style>