<section class='car'>
    <div class='container'>
        <div class='car__content'>
            <div class='car__text '>Экспертный сервис для<br></br>вашего авто</div>
            <div class='car__text_2'>Изготовление ключей, прошивка евро2 STAGE-1 и ремонт замков по лучшим<br></br> ценам!</div>
            <div class='car__img'><img src='/img/image 2.png'></img></div>
            <div class='car__text_block_blue'>
                <span>Почему выбирают нас?</span>
                <p>Мы гордимся нашей <br></br>командой опытных <br></br>специалистов, которые<br></br> знают все тонкости работы с<br></br> автомобилями.</p>
            </div>  
        </div>
    </div>
</section>

<style>


body{
    margin: 0;
    padding: 0;
    min-width: 1920px;
    min-height: 5000px;
}

.car{
    margin-bottom: 58px;
}

.car__text{
    padding-left: 7px;
    font-size: 52px;
    font-weight: 400;
    line-height: 30px;  
    padding-left: 10rem;
    font-family: Inter, sans-serif;
    width: 1427px;
}

.car__text_2{
    padding-left: 7px;
    font-size: 22px;
    color: #6777A7;
    position: absolute;
    top: 327px;
    left: 10rem;
    line-height: 10px;
    font-family: Inter, sans-serif;
    width: 1427px;
}

.car__img img{
    width: 1602px;
    height: 1069px;
    position: absolute;
    top: 437px;
    left: 10rem;
    gap: 0px;
    opacity: 0px;
    padding-right: 32.4rem;
    margin: 0;
    padding: 0;
    background-size: cover;
}


.car__text_block_blue{
    width: 440px;
    height: 316px;
    position: absolute;
    top: 1291px;
    left: 158px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #377DFF;
    line-height: 12px;
    padding: 0;
    margin: 0;
}

.car__text_block_blue span{
    color: #97BCFF;
    font-size: 28px;
    position: absolute;
    top: 52px;
    left: 52px;
    width: 330px;
    font-family: Inter, sans-serif;
}

.car__text_block_blue p{
    color: white;
    height: 133px;
    position: absolute;
    top: 90px;
    left: 52px;
    opacity: 0px;
    font-size: 24px;
    font-family: Inter, sans-serif;
    line-height: 15px;
}






@media (max-width: 1470px) {

    * {
    box-sizing: border-box;
}

    section {
    width: 50%; 
    }

    .container {
        width: 100%;
        padding: 10px; 
    }

    .car{
        margin-bottom: 38px;
    }

    .car__text{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3rem;  
    position: absolute; 
    top: 12rem;
    left:-6.8rem;
    font-family: Inter, sans-serif;
    width: 700px;
    }

    .car__text_2{
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #6777A7;
    position: absolute;
    top: 18.5rem;
    left: 2.4rem;
    line-height: 1rem;
    font-family: Inter, sans-serif;
    width: 1200px;
    }

    .car__img img{
    width: 85rem;
    height: 47rem;
    position: absolute;
    top: 23rem;
    left: 3.4rem;
    background-size: cover;
    padding: 0;
    margin: 0;
    }

    .car__img{
        
    }

    .car__text_block_blue{
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 61rem;
    left: 3.4rem;
    border-radius: 10px;
    opacity: 0px;
    background-color: #377DFF;
    line-height: 12px;
    }

    .car__text_block_blue span{
    color: #97BCFF;
    font-size: 1.4rem;
    position: absolute;
    top: 3.25rem;
    left: 2rem;
    width: 330px;
    font-family: Inter, sans-serif;
    }

    .car__text_block_blue p{
    color: white;
    height: 8.4rem;
    position: absolute;
    top: 5.5rem;
    left: 2rem;
    opacity: 0px;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    line-height: 0.7rem;
    }

   

    .car__content{
        width: 1470px;
    }

    .container{
        width: 1450px;
    }
}


</style>