<section class='car'>
    <div class='container'>
        <div class="text">
            <p>Товар</p>
            <h3>Эмулятор Mercedes W204, W207, W212, GLK, SIK R172</h3>
        </div>

            <div class="emulator">
                <h2>Эмулятор нa меpсeдес</h2>
                <p>Эмулятop pулeвoгo блокиратopa mеrсеdеs w204 еsl,еlv,зaщeлка w204,рулeвой блoкирaтoр мерcедec,блокирaтоp pуля W212,GLК,SLК R172.
                    Эмулятopы отличнoго кaчеcтвa производcтвa ОАЭ или РФ c гаpантией 10 лeт.</p>
                <img src="/img/image 6.png" alt="Эмулятор на мерседес">
            </div>

            <div class="price">
                <img src="/img/image 8.png">
                <button>Стoимocть эмуляторa с работой (на столе у нас) 8999р</button>
                <p>Стoимocть эмуляторa с работой (на столе у нас) 8999р. Нужен замок и ключ от вашего авто. В данном варианте разблокировать руль на авто и снять рулевую колонку вам нужно будет самостоятельно.<br>
                    Внимание: При снятии рулевого вала потребуется инструмент и навыки. Так же обратите внимание, что можно повредить под рулевой шлейф, нарушить сход-развал и многое другое.
                    Стоимость эмулятора с работой на ВЫЕЗДЕ "Под ключ" от 16000р!
                    При этом варианте все работы выполняются нами на месте до момента восстановления полной работоспособности вашего авто.</p>
                <button class="btn">Купить</button>
            </div>
    </div>
</section>

<style>
     @media (max-width: 1470px) {

        .container{
            width: 1270px;
    }
        * {
            box-sizing: border-box;
    }

        div {
            width: 50%; 
    }

        .text {
            position: absolute;
            left: 3.5rem;
            top: 9rem;
        }

        .text p{
            font-size: 22px;
        }

        .text h3{
            font-size: 28px;
            font-weight: 600;
            margin-top: 1.5rem;
        }

       

        .emulator h2{
            position: absolute;
            left: 3.5rem;
            top: 23.5rem;
            font-size: 32px;
        }

        .emulator p{
            width: 760px;
            position: absolute;
            top: 27rem;
            left: 3.5rem;
            font-size: 22px;
        }

        .emulator img{
            position: absolute;
            left: 60rem;
            top: 22.5rem;
            width: 430px;

        }



        .price img{
            height: 25rem;
            width: 20rem;
            position: absolute;
            top: 45rem;
            left: 3.5rem;
        }

        .price button{
            background-color: #377DFF;
            width: 650px;
            color: white;
            border: none;
            font-size: 22px;
            border-radius: 12px;
            height: 60px;
            position: absolute;
            top: 47.5rem;
            left: 25.5rem;
        }

        .price p{
            width: 700px;
            font-size: 19px;
            position: absolute;
            top: 53.5rem;
            left: 25.5rem
        }

        .price .btn{
            width: 280px;
            height: 50px;
            position: absolute;
            top: 75rem;
            left: 37.5rem;
        }
}
</style>