<section class='roduct'>
    <div class='container'>
       <div class="text">
            <a id="tov"><p>Авто товары и ключи</p></a>
        </div>

        <div class="emulator">
            <img src="/img/image 6.png">
            <p>Mercedes</p>
            <span>Эмулятор Mercedes W204, W207,<br> W212, GLK, SIK R172</span>
            <a href="/tovar"><button>Подробнее</button></a>

        <div class="key">
            <img src="/img/image.png">
            <p>Mercedes</p>
            <span>Ключ mercedes W210 W202 W203<br> W209 W211 W215 W220</span>
            <a href="!#"><button>Подробнее</button></a>
        </div>
        </div>
    </div>
</section>
    
<style>
    .text p{
        font-size: 38px;
        position: absolute;
        top: 6245px;
        left: 191px;
        font-family: Inter, sans-serif;
    }

    .emulator{
    width: 596px;
    height: 641px;
    position: absolute;
    top: 6388px;
    left: 191px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .emulator img{
    position: absolute;
    top: 48px;
    left: 13px;
    border-radius: 10px;
    }

    .emulator p{
        color: #678ABA;
        font-size: 26px;
        position: absolute;
        left: 25px;
        top: 374px;
        font-family: Inter, sans-serif;
    }

    .emulator span{
        font-size: 30px;
        font-weight: 500;
        position: absolute;
        left: 25px;
        top: 450px;
        font-family: Inter, sans-serif;
    }

    .emulator button{
    width: 194px;
    height: 61px;
    position: absolute;
    top: 555px;
    left: 188px;
    border-radius: 10px;
    border: none;
    background-color: #377DFF;
    color: white;
    font-size: 22px;
    font-family: Inter, sans-serif;
    cursor: pointer;
    }



    .key{
    width: 596px;
    height: 641px;
    position: absolute;
    left: 901px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .key img{
    position: absolute;
    top: 48px;
    left: 13px;
    border-radius: 10px;
    }

    .key p{
        color: #678ABA;
        font-size: 26px;
        position: absolute;
        left: 25px;
        top: 374px;
        font-family: Inter, sans-serif;
    }

    .key span{
        font-size: 30px;
        font-weight: 500;
        position: absolute;
        left: 25px;
        top: 450px;
        font-family: Inter, sans-serif;
    }

    .key button{
    width: 194px;
    height: 61px;
    position: absolute;
    top: 555px;
    left: 188px;
    border-radius: 10px;
    border: none;
    background-color: #377DFF;
    color: white;
    font-size: 22px;
    font-family: Inter, sans-serif;
    cursor: pointer;
    }


    @media (max-width: 1470px) {

        * {
        box-sizing: border-box;
        }

        div {
        width: 50%; 
    }

    .container {
        width: 100%; /* Занимает 100% ширины экрана */
    }

.text p{
        font-size: 2rem;
        position: absolute;
        top: 5645px;
        left: 3.4rem;
        font-family: Inter, sans-serif;
    }

    .emulator{
    width: 506px;
    height: 551px;
    position: absolute;
    top: 5788px;
    left: 3.4rem;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .emulator img{
    width: 30rem;
    position: absolute;
    top: 2rem;
    left: 13px;
    border-radius: 10px;
    }

    .emulator p{
        color: #678ABA;
        font-size: 1.5rem;
        position: absolute;
        left: 25px;
        top: 19rem;
        font-family: Inter, sans-serif;
    }

    .emulator span{
        font-size: 1.7rem;
        font-weight: 500;
        position: absolute;
        left: 25px;
        top: 380px;
        font-family: Inter, sans-serif;
    }

    .emulator button{
    width: 194px;
    height: 61px;
    position: absolute;
    top: 30rem;
    left: 9rem;
    border-radius: 10px;
    border: none;
    background-color: #377DFF;
    color: white;
    font-size: 22px;
    font-family: Inter, sans-serif;
    cursor: pointer;
    }



    .key{
    width: 506px;
    height: 551px;
    position: absolute;
    left: 53.4rem;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .key img{
    width: 30rem;
    position: absolute;
    top: 2rem;
    left: 13px;
    border-radius: 10px;
    }

    .key p{
        color: #678ABA;
        font-size: 1.5rem;
        position: absolute;
        left: 25px;
        top: 19rem;
        font-family: Inter, sans-serif;
    }

    .key span{
        font-size: 1.7rem;
        font-weight: 500;
        position: absolute;
        left: 25px;
        top: 23.75rem;
        font-family: Inter, sans-serif;
    }

    .key button{
    width: 12.125rem;
    height: 3.81rem;
    position: absolute;
    top: 30rem;
    left: 10rem;
    border-radius: 10px;
    border: none;
    background-color: #377DFF;
    color: white;
    font-size: 22px;
    font-family: Inter, sans-serif;
    cursor: pointer;
    }
    

}

</style>