

<header class="header"></a>
    <div class='container'>
        <div class='header__row'>
            <div class='logo'>
                <p>Auto Keys Shop</p>
                </div>
                    <div class='header__nav'>
                    <ul>
                        <li><a>Главная</a></li>
                        <li id="abou"><a href="#about">О нас</a></li>
                        <li><a href='#rev'>Отзывы</a></li>
                        <li><a href='#serv'>Услуги</a></li>
                        <li><a href='#tov'>Товары</a></li>
                        <li><a href='#kont' class='contact'><span>Контакты</span></a></li>
                    </ul>
                </div>
        </div>
    </div>

</header>



<style>

        body{
        margin: 0;
        padding: 0;
        min-width: 1920px;
        min-height: 9000px;
    }

    
    
    .header{
        padding: 48px 157px;
    }
    
    .container{
        width: 1619px;
        margin: 0 auto;
        padding: 0;
    }
    
    .header__row{
        display: flex;
        column-gap: 50px;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo p{
        color: #377DFF;
        font-size: 48px;
        /* position: absolute; */
        padding: 2px 0 0 0;
        margin: 0px;
        /* top: 51px;
        left: 157px; */
        font-family: Inter, sans-serif;
    }
    
    .header__nav ul{
        display: flex;
        column-gap: 23px;
        align-items: center;
        /* position: absolute;
        left: 1090px;
        top: 0px; */
        padding: 0px;
        list-style-type: none;
        
    }
    

    .header__nav a{
        color: #677788;
        font-size: 20px;
        text-decoration: none;
        font-family: Inter, sans-serif;
    }
    
    .header__nav a:hover{
        color: #377DFF;
    }

    
    
    .header__nav span:hover{
        color: #377DFF;
    }
    
    .contact{
        padding: 16px 52px 16px;
        width: 257px;
        height: 59px;
        background-color: #377DFF;
        border-radius: 10px;
    }
    
    .contact span{
        color: white;
    }
    
    .contact span:hover{
        color: white;
    }





    @media (max-width: 1470px) {

        .container{
            width: 1270px;
        }
        * {
        box-sizing: border-box;
        }

        div {
        width: 50%; 
    }


    header.header {
        max-width: 1470px; 
    }


    body{
        width: 1470px;
    }

    header.header{
        padding-right: 31.4rem;
        padding-left: 3.5rem;
        width: 1470px;
    }

    .logo p{
        font-size: 2.5rem;
    }

    .header__nav{
         padding-right: 7rem; 
    }

    .header__nav ul{
        width: 660px;
        margin-right: 40px;
    }

    .header__row{
        width: 1400px;

    }

    .header{
        width: 1470px;
    }
}

</style>
    

